<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .titulo{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .cabecera{
            padding-top:20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <div class="cabecera row text-right">
            <div class="col-sm-6">
                <span class="text-sm-right"> <%=usuario%></span>
            </div>
            <div class="col-sm-6">
                <a href="http://localhost:3000/examen/login">
                    <button  type="button" class="btn btn-sm btn-primary">Salir</button>
                </a>
            </div>
        </div>
    </div>
    <div class=" titulo col-sm-12">
        <div class="form-group text-center">
            <h2>Crear Nuevo Equipo</h2>
        </div>
    </div>

    <div class="col-sm-12">
        <form action="/examen/equipo/crear" class="form-horizontal" method="post">
            <div class="form-group row">
                <label for="nombre" class="control-label col-sm-2">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
            </div>
            <div class="form-group row">
                <label for="liga" class="control-label col-sm-2">Liga:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="liga" name="liga">
                </div>
            </div>
            <div class="form-group row">
                <label for="fechaCreacion" class="control-label col-sm-2">Fecha Creación:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fechaCreacion" name="fechaCreacion">
                </div>
            </div>
            <div class="form-group row">
                <label for="numeroCopasInternacionales" class="control-label col-sm-2">Copas Internacionales:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="numeroCopasInternacionales" name="numeroCopasInternacionales">
                </div>
            </div>
            <div class="form-group row">
                <label for="campeonActual" class="control-label col-sm-2">Campeón Actual:</label>
                <div class="col-sm-5">
                    <input type="checkbox" class="form-control" id="campeonActual" name="campeonActual">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="text-center">
                    <a href="http://localhost:3000/examen/lista" class="btn btn-sm btn-primary" role="button">Cancelar</a>
                    <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                </div>

            </div>
        </form>
    </div>

</div>

</body>
</html>