<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="">Examen</a>

    <div class="row">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/examen/admin" data-parent="#Accordion">
            <span class="nav-link-text">Administrador</span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/examen/user" data-parent="#Accordion">
            <span class="nav-link-text">Usuario</span>
        </a>

        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="/examen/despachador" data-parent="#Accordion">
            <span class="nav-link-text">Despachador</span>
        </a>
    </div>
</nav>


