<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">

    <title>Movies</title>
    <meta charset="UTF8">
    <link rel="icon" href="http://localhost:3000/images/icono-cerveza.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Titulo 1</h1>
<h1>Titulo 2</h1>
<h1>Titulo 3</h1>
<h1>Titulo 4</h1>
<h1>Titulo 5</h1>
<h1>Titulo 6</h1>
<p> Parrafo 1
    <span>  Parrafo 2 </span>
    Parrafo 1
</p>

<!--Unorder List-->
<ul>
    <li>1</li>
    <li>2</li>
</ul>

<!--Order List-->
<ol>
    <li>a</li>
    <li>b</li>
</ol>

<!--Anchor-->
<a href="http://www.google.com" target="_blank"> Google externo (blank)</a>
<a href="http://www.google.com" target="_self">Gooble externo (self)</a>
<a href="http://www.google.com"> Google aqui mismo</a>

<!--Image-->
<img src="http://localhost:3000/images/png-cerveza.png" alt="Jarro de cerveza">

<!--Formulario-->
<form action="">
    <label for="Nombre">Nombre: </label>
    <input id="nombre" type="text">
    <button>Enviar datos</button>
</form>


<label for="Nombre">Nombre: </label>
<input id="nombre" type="text">
<button>Enviar datos</button>

<style>
 table,td,th{
     border:solid blue 3px;
     background: #ffa31a;
 }
</style>


<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    <tr>
        <td> Fernando </td>
        <td> Pogo </td>
    </tr>
</table>

<iframe src="https://saew.epn.edu.ec" frameborder="1"></iframe>

<div>
    
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>