<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>
    <style>
        /*.css*/
        /*Selector {proiedad: valor;}*/
        h1 {
            color: red;
            background: black;
        }

        /*Selector -> etiqueta*/
        p, h2, div {
            color: green;
            background: pink;
        }

        /*Selector -> ID*/
        #adios {
            color: #ffa31a;
            background: brown;
        }

        /*Selector -> Clase*/
        .verde {
            color: blue;
            background: gray;
        }
        .azul{
            color: green;
            border-color: red;
        }
        .morado{
            color:red;
            background: blue;
        }
        p.verde{
            color: orange;
        }
        p.verde.azul{
            color: orange;
            background: green;
        }
        .modelo-cajas{
            border-color: red;
        }
        .separador{
            margin-top: 200px;
            margin-bottom: 200px;
            background-color: aquamarine;
        }
        table{
            width: 900px;
        }
        tr{
            border-color: black;
            border-bottom: brown;
        }
    </style>
</head>
<body>
<div>
    <div class="row">

        <div class="col-sm-2">
            <h1>logo</h1>
        </div>
        <div class="col-sm-6">
            <h1>menu</h1>
        </div>
        <div class="col-sm-4">
            <h1>login</h1>
        </div>
        <div class="col-sm-6">
            <h1>sm</h1>
        </div>
        <!--        <div class="col-sm-6"><h1>sm</h1></div>-->
        <!--        <div class="col-md-6"><h1>md</h1></div>-->
        <!--        <div class="col-md-6"><h1>md</h1></div>-->
        <!--        <div class="col-lg-6"><h1>lg</h1></div>-->
        <!--        <div class="col-lg-6"><h1>lg</h1></div>-->
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h1>Género de películas</h1>
            <table style="width: 400px">
                <tr>
                    <td>
                        i
                    </td>
                    <td>
                        Accion
                    </td>
                    <td>
                        824
                    </td>
                </tr>
                <tr>
                    <td>
                        i
                    </td>
                    <td>
                        Accion
                    </td>
                    <td>
                        856
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-sm 9">
            <h1>Películas online</h1>
            <p>Pelisplus.co es un sitio ideal para ver películas y series online. Nuestro sistema se preocupa por tener lo último del cine en calidad full HD.

                Para ver una película o serie de televisión puedes usar el buscador en la parte superior o seguir uno de los enlaces de genero o año de estreno en la parte izquierda del sitio, luego el enlace te llevará al reproductor donde solo tienes que dar click en el boton de play. Te invitamos a compartir este genial sitio con tus amigos y familiares</p>
            <div class="col-sm-6">
                <h1>Peli1</h1>
            </div>
            <div class="col-sm-6">
                <h1>peli2</h1>
            </div>

        </div>

    </div>

</div>


<!--<h1>Hola</h1>
<h1 id="adios" class="verde"> Adios</h1>
<h1 class="verde">Bienvenidos</h1>

<p>Tigre</p>
<div>Lobo</div>
<h2>Oso</h2>

<p class="azul morado verde">Fernando Paúl Pogo Torres</p>
<div class ="verde">Verde 1</div>
<p class ="verde"> Verde 2</p>
<p class ="verde azul"> Verde 2</p>-->
</body>
</html>